{% extends 'baseBack.html.twig' %}

{% block title %}New Page{% endblock %}
 {% block head %}
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
 {% endblock %}
{% block body %}
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Ajouter une nouvelle page</h3>
        </div>
        {{ form_start(form) }}


         <div class="card-body">
           {# <div class="form-group ">
                {{ form_widget(form.contenu ,{'attr':{ 'id':'page_contenu', 'name':'page[contenu]'}}) }}
            </div>#}
             <div class="form-group">
                 <label>Titre :</label>
                 {{ form_widget(form.titre ,{'attr':{'class':"form-control form-control-solid",'placeholder':"Entrer le titre"}})}}
             </div>
            <div class="form-group">
                <div class="adjoined-bottom">
                    <div class="grid-container">
                        <div class="grid-width-100">
                            {{ form_widget(form.contenu) }}

                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group ">
               URL
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
     <span class="input-group-text">
      <i class="flaticon2-website"></i>
     </span>
                        </div>
                        {{ form_widget(form.URL ,{'attr':{'class':"form-control",'placeholder':"Entrez votre url",'id':"page_URL" ,'name':"page[URL]", 'required':"required" }})}}
                    </div>
                    <span class="form-text text-muted">Veuillez saisir l’URL de votre site Web.</span>
                </div>
            </div>

        </div>







        <div class="card-footer">
            <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
            <button type="reset" class="btn btn-secondary"><a href="{{ path('page') }}">Retourner au liste </a></button>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}


        <!--end::Form-->
    </div>




{% endblock %}

{% block javascripts %}
    <script src="{{ asset('themeBack/assets/js/CKEditor/ckeditor.js') }}"></script>

   <script>


        if ( CKEDITOR.env.ie && CKEDITOR.env.version < 9 )
            CKEDITOR.tools.enableHtml5Elements( document );

        // The trick to keep the editor in the sample quite small
        // unless user specified own height.
        CKEDITOR.config.height = 150;
        CKEDITOR.config.width = 'auto';

        var initSample = ( function() {
            var wysiwygareaAvailable = isWysiwygareaAvailable(),
                isBBCodeBuiltIn = !!CKEDITOR.plugins.get( 'bbcode' );

            return function() {
                var editorElement = CKEDITOR.document.getById( 'page_contenu' );

                // :(((
                if ( isBBCodeBuiltIn ) {
                    editorElement.setHtml(
                        'Hello world!\n\n' +
                        'I\'m an instance of [url=https://ckeditor.com]CKEditor[/url].'
                    );
                }

                // Depending on the wysiwygarea plugin availability initialize classic or inline editor.
                if ( wysiwygareaAvailable ) {
                    CKEDITOR.replace( 'page_contenu' );
                } else {
                    editorElement.setAttribute( 'contenteditable', 'true' );
                    CKEDITOR.inline( 'page_contenu' );

                    // TODO we can consider displaying some info box that
                    // without wysiwygarea the classic editor may not work.
                }
            };

            function isWysiwygareaAvailable() {
                // If in development mode, then the wysiwygarea must be available.
                // Split REV into two strings so builder does not replace it :D.
                if ( CKEDITOR.revision == ( '%RE' + 'V%' ) ) {
                    return true;
                }

                return !!CKEDITOR.plugins.get( 'wysiwygarea' );
            }
        } )();


        initSample();
    </script>
    <script>
    FormValidation.formValidation(
    document.getElementById('page_URL'),
    {
    fields: {


    url: {
    validators: {
    notEmpty: {
    message: 'Website URL is required'
    },
    uri: {
    message: 'The website address is not valid'
    }
    }
    },



    },

    plugins: {
    trigger: new FormValidation.plugins.Trigger(),
    // Bootstrap Framework Integration
    bootstrap: new FormValidation.plugins.Bootstrap(),
    // Validate fields when clicking the Submit button
    submitButton: new FormValidation.plugins.SubmitButton(),
    // Submit the form when all fields are valid
    defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
    }
    }
    );
    </script>
    <script>

{% endblock %}