{% extends "basefront.html.twig" %}
    {% block customstylesheet %}
        <link rel="stylesheet" href="{{asset('themefront/assets/css/profil/style.css  ')}}">
    {% endblock %}
{% block body %}



    <div class="">
        <!-- Top navbar -->
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="max-height: 500px; background-image: url('{{ asset('upload/'~app.user.photo)}}'); background-size: auto; background-position: center top;)">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center" style="background: transparent !important;">
                <div class="" style="width: 80%">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white" >Bonjour  {{ user.nom }} {{ user.prenom }}</h1>
                        {# <a href="#!" class="btn btn-info">Edit profile</a>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card2 card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        {% if app.user.photo %}
                                            <img src="{{ asset('upload/'~app.user.photo) }}" class="rounded-circle circular rounded">
                                        {% else %}
                                            <img src="#" class="rounded-circle">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card2-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                            </div>
                        </div>
                        <div class="card2-body pt-50 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    {{ user.nom }} {{ user.prenom }}
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>{{ user.adress }}
                                </div>
                                <hr class="my-4">
                                <div>
                                    <i class="ni education_hat mr-2"></i>{{ user.entreprise }}
                                </div>

                                {#<p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                                <a href="#">Show more</a>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card2 bg-secondary shadow">
                        <div class="card2-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Mon compte</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="{{ path('Profil_edit',{'id':app.user.id}) }}"  class="btn btn-sm btn-primary">Modifier Profil</a>
                                </div>
                            </div>
                        </div>
                        <div class="card2-body">
                            <form>                             <h6 class="heading-small text-muted mb-4">vos coordonées</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-username">pseudo</label>
                                                <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="pseudo" value="{{ user.username }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email"> address mail  </label>
                                                <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com" value="{{ user.email }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-first-name">Nom</label>
                                                <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{ user.nom }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last-name">Prenom</label>
                                                <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="{{ user.prenom }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Address</label>

                                                <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="{{ user.adress}}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}

    <script src="{{asset('themefront/assets/js/pages/widgets.js')}}"></script>
    <script src="{{asset('themefront/assets/js/pages/custom/profile/profile.js')}}"></script>
{% endblock %}
