{% extends 'baseBack.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}
 {% block head %}
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
 {% endblock %}
{% block body %}
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Ajouter une nouvelle formation</h3>
        </div>
        {{ form_start(form) }}


        <div class="card-body">
            <div class="form-group">
                <label>Intitule-Mission:</label>
                {{ form_widget(form.intitule_mission ,{'attr':{'class':"form-control form-control-solid",'placeholder':"Entrer un intitule_mission"}})}}
            </div>
            <div class="form-group">
                <label>Nombre de jours:</label>
                {{ form_widget(form.nb_de_jour ,{'attr':{'class':"form-control form-control-solid",'placeholder':"Entrer Nombre de jours  "}})}}</div>
            <div class="form-group" >
                <label class="">Date de debut:</label>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="input-group date" id="kt_datetimepicker_6" data-target-input="nearest">
                        {{ form_widget(form.date_debut ,{'attr':{'class':"form-control datetimepicker-input",'data-target':"#kt_datetimepicker_6"}}) }}
                        <div class="input-group-append" data-target="#kt_datetimepicker_6" data-toggle="datetimepicker">
															<span class="input-group-text">
																<i class="ki ki-calendar"></i>
															</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <label class="">Date fin:</label>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="input-group date" id="kt_datetimepicker_7" data-target-input="nearest">
                        {{ form_widget(form.date_fin ,{'attr':{'class':"form-control datetimepicker-input",'data-target':"#kt_datetimepicker_7"}}) }}
                        <div class="input-group-append" data-target="#kt_datetimepicker_7" data-toggle="datetimepicker">
															<span class="input-group-text">
																<i class="ki ki-calendar"></i>
															</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Localisation mission:</label>
                {{ form_widget(form.localisation_mission ,{'attr':{'class':"form-control form-control-solid",'placeholder':"Entrer une localisation"}})}}
            </div>
            <div class="form-group">
                <label>Cout provisoire:</label>
                {{ form_widget(form.cout_provisoire ,{'attr':{'class':"form-control form-control-solid",'placeholder':"Entrer la cout provisoire"}})}}
            </div>

                    <div class="form-group ">
                        <label >Theme</label>
                        <div class=" col-lg-4 col-md-9 col-sm-12">
                            <select class="form-control select2" id="kt_select2_1" name="param">
                                <option value="Systèmes de Management Q/S/E et sociétale"> Systèmes de Management Q/S/E et sociétale</option>
                                <option value="Santé, sécurité du travail"> Santé, sécurité du travail</option>
                                <option value="Outils & Techniques">Outils & Techniques</option>
                                <option value="Risques industriels /classement/ incendie"> Risques industriels /classement/ incendie</option>
                                <option value="Environnement">Environnement
                                </option>
                                <option value="Communication">Communication</option>
                            </select>
                        </div>
                    {#    {{ form_widget(form.theme ,{'attr':{'class':"form-control select2 "}})}}#}
                    </div>

            <div class="form-group">
                <label>Description:</label>
                {{ form_widget(form.description ,{'attr':{'class':"form-control form-control-solid",'placeholder':"Entrer une description"}})}}
            </div>
      {#      <div class="form-group">
                <label>Utilisateur</label>
                {{ form_widget(form.User ,{'attr':{'class':"form-control form-control-solid",'placeholder':"Entrer un Utilisateur"}})}}
            </div>
#}

            <div class="form-group">
                {{ form_label(form.media) }}
                {{ form_widget(form.media) }}
            </div>


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
            <button type="reset" class="btn btn-secondary"><a href="{{ path('formation_index') }}">Retourner au liste</a></button>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}


        <!--end::Form-->
    </div>



    <script>
        jQuery(document).ready(function(){


            $('#kt_datetimepicker_6').datetimepicker ({format:'YYYY-MM-DD HH:mm'}); }

        );</script>
    <script>
        jQuery(document).ready(function(){


            $('#kt_datetimepicker_7').datetimepicker ({format:'YYYY-MM-DD HH:mm'}); }

        );</script>

<script>
    // Class definition
    var KTSelect2 = function() {
        // Private functions
        var demos = function() {
            // basic
            $('#kt_select2_1').select2({
                placeholder: "Select a state"
            });

            // nested
            $('#kt_select2_2').select2({
                placeholder: "Select a state"
            });

            // multi select
            $('#kt_select2_3').select2({
                placeholder: "Select a state",
            });

            // basic
            $('#kt_select2_4').select2({
                placeholder: "Select a state",
                allowClear: true
            });

            // loading data from array
            var data = [{
                id: 0,
                text: 'Enhancement'
            }, {
                id: 1,
                text: 'Bug'
            }, {
                id: 2,
                text: 'Duplicate'
            }, {
                id: 3,
                text: 'Invalid'
            }, {
                id: 4,
                text: 'Wontfix'
            }];

            $('#kt_select2_5').select2({
                placeholder: "Select a value",
                data: data
            });

            // loading remote data

            function formatRepo(repo) {
                if (repo.loading) return repo.text;
                var markup = "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__meta'>" +
                    "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";
                if (repo.description) {
                    markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                }
                markup += "<div class='select2-result-repository__statistics'>" +
                    "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
                    "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
                    "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
                    "</div>" +
                    "</div></div>";
                return markup;
            }

            function formatRepoSelection(repo) {
                return repo.full_name || repo.text;
            }

            $("#kt_select2_6").select2({
                placeholder: "Search for git repositories",
                allowClear: true,
                ajax: {
                    url: "https://api.github.com/search/repositories",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function(data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function(markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: formatRepo, // omitted for brevity, see the source of this page
                templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });

            // custom styles

            // tagging support
            $('#kt_select2_12_1, #kt_select2_12_2, #kt_select2_12_3, #kt_select2_12_4').select2({
                placeholder: "Select an option",
            });

            // disabled mode
            $('#kt_select2_7').select2({
                placeholder: "Select an option"
            });

            // disabled results
            $('#kt_select2_8').select2({
                placeholder: "Select an option"
            });

            // limiting the number of selections
            $('#kt_select2_9').select2({
                placeholder: "Select an option",
                maximumSelectionLength: 2
            });

            // hiding the search box
            $('#kt_select2_10').select2({
                placeholder: "Select an option",
                minimumResultsForSearch: Infinity
            });

            // tagging support
            $('#kt_select2_11').select2({
                placeholder: "Add a tag",
                tags: true
            });

            // disabled results
            $('.kt-select2-general').select2({
                placeholder: "Select an option"
            });
        }

        var modalDemos = function() {
            $('#kt_select2_modal').on('shown.bs.modal', function () {
                // basic
                $('#kt_select2_1_modal').select2({
                    placeholder: "Select a state"
                });

                // nested
                $('#kt_select2_2_modal').select2({
                    placeholder: "Select a state"
                });

                // multi select
                $('#kt_select2_3_modal').select2({
                    placeholder: "Select a state",
                });

                // basic
                $('#kt_select2_4_modal').select2({
                    placeholder: "Select a state",
                    allowClear: true
                });
            });
        }

        // Public functions
        return {
            init: function() {
                demos();
                modalDemos();
            }
        };
    }();

    // Initialization
    jQuery(document).ready(function() {
        KTSelect2.init();
    });
</script>
{% endblock %}

{% block javascripts %}



{% endblock %}