{% extends 'basefront.html.twig' %}

{% block title %}Condidature{% endblock %}

{% block body %}


<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay">

    </div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Postuler une codidature simple</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Acceuil <i class="ion-ios-arrow-forward"></i></a></span>
                    <span class="mr-2"><a href="NousRejoindre.html"> Nous rejoindre<i class="ion-ios-arrow-forward"></i></a></span>
                    <span>offre</span></p>
            </div>
        </div>
    </div>
</section>


<div class="row">

    <div class="col-md-6 offset-md-3 mt-5" style="border: 2px solid #d91a5b;border-radius: 30px " >

        <form accept-charset="UTF-8" action="#" method="POST" enctype="multipart/form-data" target="_blank">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleInputName">Nom </label>
                    {{ form_widget(form.nom, {'attr': {'class': "form-control",'name':"condidature[nom]" ,'id':"condidature_nom" ,'placeholder':"Votre nom",'required':"required"}}) }}

{#                    <input type="text" name="fullname" class="form-control" id="exampleInputName" placeholder="Entrer yvotre nom" required="required">#}
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputName">Prenom </label>
                    {{ form_widget(form.prenom, {'attr': {'class': "form-control",'name':"condidature[prenom]" ,'id':"condidature_prenom" ,'placeholder':"Votre prenom",'required':"required"}}) }}

{#                    <input type="text" name="fullname" class="form-control" id="exampleInputName1" placeholder="Entrer votre prenom" required="required">#}
                </div></div>
            <div class="form-group">
                <label for="exampleInputEmail1" required="required">Email </label>
                {{ form_widget(form.email, {'attr': {'class': "form-control",'name':"condidature[email]" ,'id':"condidature_email" ,'placeholder':"Votre email",'required':"required"}}) }}

{#                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un address">#}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" required="required">Lettre de motivation</label>
                {{ form_widget(form.lm, {'attr': {'class': "form-control",'name':"condidature[lm]" ,'id':"condidature_lm" ,'placeholder':"lettre de motivation",'required':"required"}}) }}

            </div>


            <div class="form-group mt-5">
                <label class="mr-4"> importer votre CV </label>
                {{ form_widget(form.cv, {'attr': {'type': "file",'name':"condidature[lm]" ,'id':"condidature_lm" ,'required':"required"}}) }}

                <input type="file" name="file">
            </div>
            <div class="form-group mt-10 text-center ">

                <button type="submit" class="btn btn-primary btn-lg btn-block">Envoyer</button>

            </div>
            {{ form_end(form) }}
        </form>
    </div>

</div>



<div id="footer" style="padding-top:10px" >
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Inscrivez-vous</h4>
                    <p>Inscrivez-vous pour recevoir les notifications des nouveautés des domaines l'environnement, l'hygiène et la santé sécurité au travail</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="S'abonner">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}