{% extends 'basefront.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('themefront/assets/images/bg_1.jpg')}}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">article</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('accueil') }}">Acceuil <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Article <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">{{ article.titre }} </h2>
                    <p> {{ article.introduction }} </p>
                    <p> {{ article.contenu|raw }} </p>

{#                    <div class="tag-widget post-tag-container mb-5 mt-5">#}
{#                        <div class="tagcloud">#}
{#                            <a href="#" class="tag-cloud-link">coaching</a>#}
{#                            <a href="#" class="tag-cloud-link">Sécurité</a>#}
{#                            <a href="#" class="tag-cloud-link">Expertise</a>#}
{#                            <a href="#" class="tag-cloud-link">Environnement</a>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="about-author d-flex p-4 bg-light">
                        <div class="bio mr-5">
                            <h5>Auteur: {{ article.auteur }}</h5>
                            <small>Date de publication :{{ article.dateAjout ? article.dateAjout|date('Y-m-d') : '' }}</small>

                        </div>

                    </div>
                    <div >
                        <div class="col-xs2 col-sm3">
                            <h2>Liste des commentaires</h2>{% for Commantaire in article.Commantaire %}

                            {% if Commantaire.parent == null %}
                                    <h4>Commentaire de {{Commantaire.pseudo}}</h4>
                                    <p>Publié le {{Commantaire.date|date("d/m/Y H:i") }}</p>
                                    <div>{{Commantaire.contenu|raw}}</div>
                                    <p><a href="#ajout-commentaire" data-reply data-id="{{Commantaire.id}}" class="btn btn-primary">Répondre</a></p>
                                     On affiche les réponses
                                    {% for reponse in Commantaire.reponse %}
                                        <p>Réponse publiée par {{reponse.pseudo}} le {{reponse.date|date("d/m/Y H:i") }}</p>
                                        <div>{{reponse.contenu|raw}}</div>
                                    {% endfor %}

                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- END comment-list -->


                            <div class="col-xs2 col-sm3" id="ajout-commentaire">
                                <h2>Ajouter un commentaire</h2>
                                {{ form(commentForm) }}
                            </div>
                        </div>
                </div> <!-- .col-md-8 -->

                <div class="col-lg-4 sidebar ftco-animate">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" name="a" class="form-control" placeholder="entre un mot clé">
                            </div>
                        </form>
                    </div>
                  {#  <div class="sidebar-box ftco-animate">
                        <h3> Chercher par categories</h3>
                        <ul id="myUL">
                            <li><span class="box">categorie1</span>
                                <ul class="nested">
                                    <li> <span class="box">cat1</span>
                                        <ul class="nested">
                                            <li><span class="box">cat2</span>
                                                <ul class="nested">
                                                </ul>
                                            </li>
                                            <li><span class="box">cat3</span>
                                                <ul class="nested">
                                                </ul>
                                            </li>
                                            <li><span class="box">sous-categ1</span>
                                                <ul class="nested">
                                                    <li><span class="box">sous-categ1</span>
                                                        <ul class="nested">

                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><span class="box">sous-categ2</span>
                                        <ul class="nested">
                                            <li><span class="box">Black Tea</span>
                                                <ul class="nested">

                                                </ul></li>
                                            <li><span class="box">White Tea</span>
                                                <ul class="nested">

                                                </ul></li>
                                            <li><span class="box">Green Tea</span>
                                                <ul class="nested">

                                                </ul>
                                            </li>
                                        </ul></li>
                                    <li><span class="box">Tea</span>
                                        <ul class="nested">
                                            <li><span class="box">sous-categ3</span>
                                                <ul class="nested">
                                                    <li><span class="box">Sencha</span>
                                                        <ul class="nested">
                                                        </ul>
                                                    </li>
                                                    <li><span class="box">Sencha</span>
                                                        <ul class="nested">
                                                        </ul>
                                                    </li>
                                                    <li><span class="box">Sencha</span>
                                                        <ul class="nested">
                                                        </ul>
                                                    </li>
                                                </ul></li>
                                            <li><span class="box">White Tea</span>
                                                <ul class="nested">

                                                </ul></li>
                                            <li><span class="box">Green Tea</span>
                                                <ul class="nested">

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                        <form action="#" class="search-form">
                            <div class="form-group">
                                <button type="submit" placeholder="" class="form-control search">
                                    <span >chercher</span></button>
                            </div>
                        </form>
                    </div>#}


                    <div class="col col-lg-12 ftco-animate p-1 h-25">
                        <div class="sidebar-box ftco-animate">
                            <h3> Articles Populaires</h3>
                            {% for article in articlepop %}
                                <div class="block-21 mb-4 d-flex">
                                    <a class="blog-img mr-4" style="background-image: url('{{ asset('themefront/assets/images/image_1.jpg')}}');"></a>
                                    <div class="text">
                                        <h3 class="heading"><a href="#">{{ article['article'].titre }}</a></h3>
                                        <div class="meta">
                                            <div><a href="#"><span class="icon-calendar"></span> {{ article['article'].dateAjout ? article['article'].dateAjout|date('Y-m-d') : '' }}</a></div>
                                            <div><a href="#"><span class="icon-person"></span> {{ article['article'].auteur }}</a></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                {#    <div class="sidebar-box ftco-animate">
                        <h3>Tag Cloud</h3>
                        <ul class="tagcloud m-0 p-0">
                            <a href="#" class="tag-cloud-link">School</a>
                            <a href="#" class="tag-cloud-link">Kids</a>
                            <a href="#" class="tag-cloud-link">Nursery</a>
                            <a href="#" class="tag-cloud-link">Daycare</a>
                            <a href="#" class="tag-cloud-link">Care</a>
                            <a href="#" class="tag-cloud-link">Kindergarten</a>
                            <a href="#" class="tag-cloud-link">Teacher</a>
                        </ul>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Archives</h3>
                        <ul class="categories">
                            <li><a href="#">December 2018 <span>(30)</span></a></li>
                            <li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
                            <li><a href="#">September 2018 <span>(6)</span></a></li>
                            <li><a href="#">August 2018 <span>(8)</span></a></li>
                        </ul>
                    </div>
#}
                </div><!-- END COL -->
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {

            // On met un écouteur d'évènements sur tous les boutons répondre
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                document.querySelector("#commantaire_parentid").value = this.dataset.id;
            });
        });
        }

    </script>
{% endblock %}
