<h1>Nouvelle condidature</h1>
<p>Nom : {{condidature.nom}}</p>
<p>Prenom : {{condidature.prenom}}</p>
<p>e-mail : {{condidature.email}}</p>
<a  href="{{ asset('upload/'~ condidature.CV)}}"> CV</a>
<p>lettre_motivation : {{condidature.lm}}</p>




