{% extends 'baseBack.html.twig' %}

{% block title %}Temoingage{% endblock %}

{% block body %}
    <h1>Temoingage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temoingage.id }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ temoingage.auteur }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ temoingage.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ temoingage.image }}</td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer">
        <a href="{{ path('temoingage_index')  }}" class="btn btn-light-primary font-weight-bold mr-2">retourner à la list</a>
        <a href="{{ path('temoingage_edit', {'id': temoingage.id})  }}" class="btn btn-light-success font-weight-bold mr-2">Modifier</a>
        <a href="#" onclick="$('#delF').submit()" class="btn btn-light-danger font-weight-bold mr-2">Supprimer</a>
        <form id="delF" method="post" action="{{ path('temoingage_delete', {'id': temoingage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ temoingage.id) }}">
        </form>
    </div>
{% endblock %}
