{% extends 'base.html.twig' %}

{% block title %}SEO index{% endblock %}

{% block body %}
    <h1>SEO index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mot_cle</th>
                <th>Description</th>
                <th>Lien_canonical</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for s_e_o in s_e_os %}
            <tr>
                <td>{{ s_e_o.id }}</td>
                <td>{{ s_e_o.motCle }}</td>
                <td>{{ s_e_o.description }}</td>
                <td>{{ s_e_o.lienCanonical }}</td>
                <td>
                    <a href="{{ path('s_e_o_show', {'id': s_e_o.id}) }}">show</a>
                    <a href="{{ path('s_e_o_edit', {'id': s_e_o.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('s_e_o_new') }}">Create new</a>
{% endblock %}
